<!DOCTYPE html>
<html lang="en">

<head>

  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
    crossorigin="anonymous">
  <style>
  

    #map {
      height: 400px;
      width: 100%;
    }

    #main h1 {
      text-align: center;
    }

    .datarow {
      margin-left: auto;
      margin-right: auto;
      max-width: 300px;
      position: relative;
    }

    .price {
      display: inline-block;
      position: absolute;
      right: 0;
    }

    #resetorigin {
      margin: 20px 10px 10px 10px;
    }

    .clearfloat {
      clear: both;
    }

    @media screen and (min-width: 668px) {
      #separater {
        display: none;
      }
    }
  </style>

  <script src="/javascripts/map_js.js"></script>
  <script src="/javascripts/priceJS.js"></script>

  <script>
    //EventListener for when HTML5 can fix location/*
    document.addEventListener("DOMContentLoaded", () => {
      locationPromise()
      .then(setWhere)
      .then(mapInit)
      .catch((reason)=>{
        if(reason instanceof PossibleError){
          alert("Try refreshing");
        }else{
          alert("Doesn't work");
        }})
    });
  </script>

  <title id="title">Overryde</title>
</head>

<body>
  <!-- div id="container">
      <input id="destination-input" class="controls mb-3" type="text"
        placeholder="Enter a destination" aria-label="medium">
    </div -->
  <div id="map">
    <div class="jumbotron jumbotron-fluid">
      <div class="container">
        <h1 class="display-4" id="text_title">Finding Your Position</h1>
        <p class="lead" id="text_text">Please Wait A Moment</p>
      </div>
    </div>
  </div>



  <!-- Input form for DESTINATION -->
  <div id="resetorigin">
    <form>
      <label for="ORIN">Trip Origin</label>
      <lable>Use current location</lable><input id='useHere' type="checkbox">
      <input type="text" id="origin-input" class="form-control controls" placeholder="Enter Your Origin" aria-lable="ORIN" aria-describedby="basic-addon2">
      <label for="DEST">Trip Destination</label>
      <input type="text" id="destination-input" class="form-control controls" placeholder="Enter Your Destination" aria-label="DEST"
        aria-describedby="basic-addon2">
    </form>
    <form>
      <input id="search-btn" type="button" value="search" class="btn btn-warning mx-auto">
    </form>

  </div>

  <div class="row mx-2">
    <div class="m-1 jumbotron col">
      <h1 class="display-4 text-center">Fuber</h1>
      <div id="uberinfo">

        <div class="datarow lead">
          <span>Fuber Pool</span>
          <span id="lyft_line" class="price">Loading...</span>
        </div>
        <div class="datarow lead">
          <span>FuberX</span>
          <span id="lyft" class="price">Loading...</span>
        </div>
        <div class="datarow lead">
          <span>FuberXL</span>
          <span id="lyft_plus" class="price">Loading...</span>
        </div>

      </div>
    </div>
    <div id='separater' class='w-100'></div>
    <div class="m-1 jumbotron col">
      <h1 class="display-4 text-center">Fryft</h1>
      <div id="lyftinfo">
        <div class="datarow lead">
          <span>Fryft Line</span>
          <span id="POOL" class="price">Loading...</span>
        </div>
        <div class="datarow lead">
          <span>Fryft</span>
          <span id="uberX" class="price">Loading...</span>
        </div>
        <div class="datarow lead">
          <span>Fryft Plus</span>
          <span id="uberXL" class="price">Loading...</span>
        </div>

      </div>
    </div>
  </div>

  <div class="clearfloat"></div>

  <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBX2wovb-LmHI1RLmYkNHWcuQQV68ViIBM&libraries=places" async defer></script>

  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="/javascripts/jquery-3.3.1.min.js"></script>
  <script src="/javascripts/popper.min.js"></script>
  <script src="/javascripts/bootstrap.min.js"></script>
</body>

</html>
