<!DOCTYPE html>
<html lang="en">

<head>

  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
    crossorigin="anonymous">
  <style>
    body {
      margin-left: auto;
      margin-right: auto;
      width: 1000px;
    }

    #map {
      height: 400px;
      width: 100%;
    }

    #main > div {
      padding: 50px 100px 50px 100px;
      margin: 10px;
      width: 480px;
      float: left;
    }

    #main h1 {
      text-align: center;
    }

    .datarow {
      position: relative;
    }
    #uberinfo, #lyftinfo {
      height: 90px;
    }

    .price {
      display: inline-block;
      position: absolute;
      right: 0;
    }

    #resetorigin {
      margin: 20px 10px 10px 10px;
    }

    #reset-origin {
      margin-top: 10px;
    }

    .clearfloat {
      clear: both;
    }
  </style>

  <script src="/javascripts/map_js.js"></script>
  <script src="/javascripts/priceJS.js"></script>

  <script>
    //EventListener for when HTML5 can fix location/*
    document.addEventListener("DOMContentLoaded", () => {
      getLocation();
      mapInit();
      target.addEventListener("k", (data) => {
        console.log(data);
        let o = data.detail.origin;
        let d = data.detail.dest;
        console.log(data.detail);
        retrieveData(o.lat, o.lng, d.lat, d.lng);
      });

      uberTarget.addEventListener("uberPrice", (data) => {
        let prices = data.detail;
        console.log(prices);
        let x = document.getElementById("uberinfo");
        let text = '';
        prices.forEach(function (item) {
          console.log(item);
          text += ('<div class="datarow lead">' + typeToName[item.key] + '<span class="price">' + String(item.value.estimatedPrice) + '-' + String(item.value.estimatedPrice_high) + '</span></div/>');
        });
        x.innerHTML = text;
      });
      lyftTarget.addEventListener("lyftPrice", (data) => {
        let prices = data.detail;
        console.log(prices);
        let x = document.getElementById("lyftinfo");
        let text = '';
        prices.forEach(function (item) {
          console.log(prices[item]);
          text += ('<div class="datarow lead">' + typeToName[item.key] + '<span class="price">' + String(item.value.estimatedPrice) + '</span></div/>');
        });
        x.innerHTML = text;
      });
    });
  </script>

  <title id="title">Overryde</title>
</head>

<body>
  <!-- div id="container">
      <input id="destination-input" class="controls mb-3" type="text"
        placeholder="Enter a destination" aria-label="medium">
    </div -->
  <div id="map">
    <div class="jumbotron jumbotron-fluid">
      <div class="container">
        <h1 class="display-4" id="text_title">Finding Your Position</h1>
        <p class="lead" id="text_text">Please Wait A Moment</p>
      </div>
    </div>
  </div>



  <!-- Input form for DESTINATION -->
  <div id="resetorigin">
    <form>
      <label for="DEST">Trip Destination</label>
      <input type="text" id="destination-input" class="form-control controls" placeholder="Enter Your Destination" aria-label="DEST"
        aria-describedby="basic-addon2">
    </form>

    <!-- Button to reset ORIGIN -->
    <form>
      <button type="button" id="reset-origin" class="btn btn-warning mx-auto" onClick="window.location.reload()">Reload</button>
    </form>

  </div>

  <div id="main">
    <div class="jumbotron jumbotron-fluid">
      <h1 class="display-4">Fuber</h1>
      <div id="uberinfo">
        
        <div class="datarow lead">
          <span>Fuber Pool</span>
          <span id="lyft_line" class="price">Loading...</span>
        </div>
        <div class="datarow lead">
          <span>FuberX</span>
          <span id="lyft" class="price">Loading...</span>
        </div>
        <div class="datarow lead">
          <span>FuberXL</span>
          <span id="lyft_plus" class="price">Loading...</span>
        </div>
        
      </div>
    </div>
    <div class="jumbotron jumbotron-fluid">
      <h1 class="display-4">Fryft</h1>
      <div id="lyftinfo">
        
        <div class="datarow lead">
          <span>Fryft Line</span>
          <span id="POOL" class="price">Loading...</span>
        </div>
        <div class="datarow lead">
          <span>Fryft</span>
          <span id="uberX" class="price">Loading...</span>
        </div>
        <div class="datarow lead">
          <span>Fryft Plus</span>
          <span id="uberXL" class="price">Loading...</span>
        </div>
        
      </div>
    </div>
  </div>

  <div class="clearfloat"></div>

  <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBX2wovb-LmHI1RLmYkNHWcuQQV68ViIBM&libraries=places&callback=mapInit" async defer></script>

  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="/javascripts/jquery-3.3.1.min.js"></script>
  <script src="/javascripts/popper.min.js"></script>
  <script src="/javascripts/bootstrap.min.js"></script>
</body>

</html>